.Header-logo {
    position: relative;
    text-decoration: none;
    border: 0 none;
    top: 2px;
    height: 85px;
}
.Header-logolink {
    text-decoration: none;
    border: 0 none;
    margin-left: 10%;
}
.Header-bar {
    display: block;
    text-align: left;
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: white;
    border: 1px solid gray;
    z-index: 1;
}
.Header-option {
    text-decoration: none;
    position: relative;
    font-family: fantasy;
    font-size: 24px;
    color: rgb(172, 0, 0);
    left: 45%;
    bottom: 28px;
    margin-right: 2%;
}
.Header-option:hover {
    text-decoration: underline;
    color: black;
}
.Header-socialicon {
    position: relative;
    height: 30px;
    width: 30px;
    left: 45%;
    bottom: 22px;
}
@media (max-width: 1200px) {
    .Header-option {
        left:40%
    }
    .Header-socialicon {
        left:40%
    }
}
@media (max-width: 1000px) {
    .Header-option {
        left:30%
    }
    .Header-socialicon {
        left:30%
    }
}
@media (max-width: 810px) {
    .Header-option {
        font-size: 0px;
    }
    .Header-socialicon {
        height: 0px;
        width: 0px;
    }
}
.Header-formshape {
    font-size: 45px;
    color: rgb(172, 0, 0);
    top:0;
}
.Header-formbutton {
    position: absolute;
    background: none;
    border: none;
    padding: none;
    top: 15px;
    right: 5%;   
    outline: none;
}
@media (min-width: 810px) {
    .Header-formbutton {
        visibility: hidden;
    }
}
.Header-formclosebutton {
    position: absolute;
    border: none;
    border-radius: 50px;
    color: white;
    background-color: black;
    font-family: arial;
    font-size: 30px;
    height: 50px;
    width: 50px;
    top: 20px;
    right: 20px;
    outline: none;
}
.Header-formclosebutton:hover {
    height: 60px;
    width: 60px;
}
.Header-form {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(219, 0, 0);
    margin:0;
    overflow: hidden;
}
.Header-formoption {
    text-decoration: none;
    position: relative;
    font-family: fantasy;
    font-size: 50px;
    color: white;
    top: 20%;
}
.Header-formsocicon{
    position: relative;
    height: 50px;
    width: 50px;
    top: 20%;
}
.Header-formoption:hover {
    color: black;
}

.Footer-background {
    background-color: rgb(172, 0, 0);
    border-top: 2px solid rgb(228, 194, 0);
    text-align: center;
    width: 100%;
}
.Footer-container {
    position: relative;
    vertical-align:top;
    display: inline-block;
}
.Footer-title {
    font: arial;
    font-size: 25px;
    color: rgb(228, 194, 0);
    padding: 0px 200px 10px 100px;
}
.Footer-colorinfo {
    display: inline;
    color: rgb(228, 194, 0);
}
.Footer-info {
    text-align: left;
    font: arial;
    font-size: 14px;
    color: white;
    margin: 0px 0px 0px 100px;
}

.HomePage-homescreen {
    height: 665px;
    margin-top: 90px;
    width: auto;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./Images/cajun.jpeg");
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.HomePage-hometitle {
    text-align: center;
    font-family: fantasy;
    font-size: 100px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: relative;
    top: 200px;
}
.HomePage-hometitlered {
    display:inline-block;
    color: red;
}
.HomePage-blackbackground{
    text-align: center;
    min-height: 665px;
    width: auto;
    background-color: black;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.HomePage-whitetitle{
    display: inline-block;
    font-family: fantasy;
    font-size: 50px;
    color: white;
    padding-top: 115px;
}
.HomePage-whitetext{
    font-size: 18px;
    color: white;
    width: 50%;
    margin: auto;
    margin-bottom: 75px;
}
.HomePage-redtitle{
    display: inline-block;
    font-family: fantasy;
    font-size: 50px;
    color: red;
}
.HomePage-menulink{
    position: relative;
    font-family: fantasy;
    font-size: 18px;
    text-decoration: none;
    color: white;
    background-color: rgb(172, 0, 0);
    padding: 10px 75px 10px 75px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.HomePage-boxwrapper{
    min-height: 665px;
    width: auto;
    text-align: center;
    background-image: url("./Images/choppingboard.jpeg");
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.HomePage-boxcontainer{
    position: relative;
    display: inline-block;
    text-align: left;
    vertical-align:top;
    font-size: 14px;
    width: 600px;
    height: 450px;
    padding-left: 10px;
    border: 1px solid rgb(172, 0, 0);
    background-color: white;
    margin: 100px 10px 50px 10px;
}
.HomePage-boximage{
    position: relative;
    float: right;
    height: 450px;
    width: 300px;
    object-fit: cover;
    margin-left: 10px;
    border-left: 1px solid rgb(172, 0, 0);
}
.HomePage-boxtitle{
    text-align: center;
    color: rgb(172, 0, 0);
}
.HomePage-aboutlink{
    position: relative;
    display: inline-block;
    font-family: fantasy;
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: rgb(172, 0, 0);
    padding: 10px 75px 10px 75px;
    margin: 100px 0px 0px 35px;
    bottom: 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.HomePage-locationlink{
    position: relative;
    display: inline-block;
    font-family: fantasy;
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: rgb(172, 0, 0);
    padding: 10px 75px 10px 75px;
    margin: 165px 0px 0px 35px;
    bottom: 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.HomePage-clip{
    position: relative;
    display: block;
    top: 15px;
    width: 150px;
    transform: rotate(10deg);
    margin: auto;
    filter: invert(1);
    z-index: 1;
}
.HomePage-food{
    display: block;
    height: 540px;
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
    padding: 0px;
}
.HomePage-foodbackground{
    text-align: center;
    min-height: 540px;
    width: auto;
    background-image: url("./Images/homeback2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.MenuPage-heroimage {
    margin-top: 90px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./Images/crawtable2.jpeg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.MenuPage-herotitle {
    position: relative;
    text-align: center;
    font-family: fantasy;
    font-size: 65px;
    color: white;
    padding: 150px;
    margin-bottom:0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.MenuPage-menuimg {
    display: block;
    margin: auto;
    height: auto;
    width: 100%;
}
.MenuPage-background {
    position: relative;
    background-image: url("./Images/choppingboard.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.MenuPage-component {
    text-align: center;
    clear: both;
}
.MenuPage-title {
    text-align: center;
    font-family: double;
    font-size: 100px;
    color: darkred;
    padding: 50px;
    border-radius: 25px;
    margin:0;
}
.MenuPage-category {
    display: inline-block;
    vertical-align: top;
    font-family: arial;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
}
.MenuPage-itemtitle {
    font-family: double;
    font-size: 30px;
    color: darkred;
}
.MenuPage-items {
    display: inline-block;
    vertical-align: top;
    font-family: arial;
    font-size: 20px;
    height: auto;
    width: 250px;
}
.MenuPage-rightpicture {
    object-fit: cover;
    border-radius: 20px;
    width: 300px;
    margin-right: 20%;
    float: right;
    clear: both;
}
.MenuPage-leftpicture {
    object-fit: cover;
    border-radius: 20px;
    width: 400px;
    margin-left: 15%;
    margin-top: 5%;
    float: left;
    clear:both;
}

.AboutPage-heroimage {
    margin-top: 90px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./Images/seafood.jpeg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.AboutPage-herotitle {
    position: relative;
    text-align: center;
    font-family: fantasy;
    font-size: 65px;
    color: white;
    padding: 150px;
    margin-bottom:0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.AboutPage-title{
    text-align: center;
    font-size: 50px;
    font-family: fantasy;
    color:rgb(172, 0, 0);
    margin: 50px 0px 50px 0px;
}
.AboutPage-text {
    display: block;
    text-align: left;
    font-family: Arial;
    font-size: 20px;
    width: 70%;
    margin: auto;
}
.AboutPage-pictureleft {
    display:block;
    position: relative;
    height: 350px;
    width: 500px;
    object-fit: cover;
    float: left;
    border: solid darkred 2px;
    margin: 0px 20px 20px 15%;
}
.AboutPage-pictureright {
    display:block;
    position: relative;
    height: 250px;
    width: 400px;
    object-fit: cover;
    float: right;
    border: solid darkred 2px;
    margin: 20px 15% 20px 20px;
}

.LocationPage-heroimage {
    margin-top: 90px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./Images/diningtable.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.LocationPage-herotitle {
    position: relative;
    text-align: center;
    font-family: fantasy;
    font-size: 65px;
    color: white;
    padding: 150px;
    margin-bottom:0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.LocationPage-container {
    position: relative;
    top: 60px;
    width: 80%;
    margin: auto;
    clear: both;
}
@media (max-width: 1250px) {
    .LocationPage-container {
        width: 90%;
    }
}
.LocationPage-googlemapscontainer {
    position: relative;
    height: 320px;
    width: 600px;
    bottom: 180px;
    float: right;
}
@media (max-width: 1150px) {
    .LocationPage-googlemapscontainer {
        height: 320px;
        width: 500px;
    }
}
@media (max-width: 1000px) {
    .LocationPage-googlemapscontainer {
        height: 320px;
        width: 400px;
    }
}
@media (max-width: 900px) {
    .LocationPage-googlemapscontainer {
        height: 320px;
        width: 600px;
        bottom: 0px;
        float: none;
    }
}
@media (max-width: 650px) {
    .LocationPage-googlemapscontainer {
        height: 320px;
        width: 400px;
        bottom: 0px;
        float: none;
    }
}
.LocationPage-title{
    font-family: arial;
    color: darkred;
}
.LocationPage-texttitle{
    display: inline-block;
    color: darkred;
    margin: 0;
}
.LocationPage-comingsoon{
    font-family: arial;
    color: darkred;
}